<!DOCTYPE html>
<html>
<head>
  <title>Redcap2omop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "redcap2omop/application", media: "all" %>
  <%= javascript_pack_tag 'redcap2omop' %>
</head>
<body>

<%= yield %>

</body>
</html>
